
$x4l: 'only screen and (min-width: 1700px) and (max-width: 1800.98px)';
$x3l: 'only screen and (min-width: 1600px) and (max-width: 1700.98px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1599.98px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399.98px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199.98px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991.98px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767.98px)';
$xs: '(max-width: 574.98px)';