$font-url : 'https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;500;600;700;800&family=Sora:wght@100..800&display=swap';

:root {
    --tp-theme-font: "Manrope", sans-serif;
    --tp-playfair-font: "Playfair Display", serif;
    --tp-poppins-font: "Poppins", sans-serif;
    --tp-sora-font: "Sora", sans-serif;
}



