@use '../../utils' as *;

/*----------------------------------------*/
/*  7.4 Contact Css Here
/*----------------------------------------*/

.tp-contect{
    &-input{
        & textarea {
            height: 140px;
            border-radius: 20px;
            resize: none;
            @media #{$md,$sm,$xs}{
               margin-top: 20px;
            }
        }
        & p{
            @media #{$md}{
              & br{
                display: none;
              }
            } 
            @media #{$xs,$sm}{
              margin-bottom: 10px;
              & br{
                display: none;
              }
            } 
        }
        @media #{$xs,$sm}{
         justify-content: start;
        } 
    }
    &-spacing{
        padding-top: 150px;
        padding-bottom: 300px;
        @media #{$x3l,$x4l,$xxl}{
           margin: 0 30px;
        }
        @media #{$lg}{
           margin: 0 15px;
           padding-top: 100px;
           padding-bottom: 200px;
        }
        @media #{$md}{
           margin: 0 10px;
           padding-top: 50px;
           padding-bottom: 150px;
        }
        @media #{$xs,$sm}{
            padding: 70px 0;
        }
        &-2{
            padding: 145px 0;
            @media #{$lg}{
                padding: 120px 0;
            }
            @media #{$md}{
                padding: 100px 0;
            }
            @media #{$xs,$sm}{
                padding: 70px 0;
                border-radius: 0;
            }
        }
    }
    &-shape{
        left: 0;
        bottom: 0;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-inner{
            left: 0;
            top: 0; 
        }
    }
    &-heading{
        @media #{$lg,$md}{
            margin-bottom: 45px;
        }
        @media #{$xs,$sm}{
            margin-bottom: 30px;
        } 
    }
    &-main{
        padding: 60px 10px;
        @media #{$xs}{
           padding: 40px 15px;
        }
        @media #{$sm}{
           padding: 50px 30px;
        }
    }
    &-box{
        padding: 55px 60px;
        border-radius: 20px;
        background-color: var(--tp-white-color);
        @media #{$xl}{
            padding-inline: 40px 45px;
        }
        @media #{$lg}{
            padding: 40px 30px;
        }
        @media #{$xs,$sm}{
           padding: 30px 20px;
        }
        &-input{
            & input, & textarea{
                border-color: transparent;
                background-color: var(--tp-gray-color);
                height: 54px;
                @media #{$xs,$sm}{
                    height: 45px;
                }
                &:focus{
                    background-color: transparent;
                    border-color: var(--tp-black-color);
                }
            }
            & textarea{
                resize: none;
                overflow-y: hidden;
            }
            & label{
                font-weight: 500;
                margin-bottom: 5px;
            }
            & button{
                background-color: var(--tp-secoundery-color);
                &:hover{
                    background-color: var(--tp-theme-color);
                    color: var(--tp-white-color);
                }
            }
            & p{
                font-size: 15px;
            }
        }
        &-content{
            & a{
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        &-inner{
           border: 1px solid rgba(0, 0, 0, 0.1); 
        }
    }
    &-title{
        font-weight: 500;
        font-size: 80px; 
        @media #{$lg,$md}{
           font-size: 60px;
        }
        @media #{$xs,$sm}{
           font-size: 40px;
        }
    }
    &-deg{
        font-size: 30px;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255 , 0.65);
        line-height: 1.2;
        @media #{$lg,$md}{
           font-size: 20px;
        }  
        @media #{$xs,$sm}{
           font-size: 18px;
        }  
        & b{
            font-weight: 500;
            color: var(--tp-white-color);
        }
    }
    &-step{
        &-heading{
            padding-bottom: 73px;
            margin-bottom: 75px;
            border-bottom: 1px solid #D9D9D9;
            @media #{$lg,$md}{
                padding-bottom: 47px;
                margin-bottom: 40px;
            }    
            @media #{$xs,$sm}{
                padding-bottom: 20px;
                margin-bottom: 20px;
            }    
        }
        &-wrap {
            display: flex;
            grid-gap: 80px;
            @media #{$lg}{
             grid-gap: 0;
            }   
            @media #{$md}{
             grid-gap: 40px;
            }   
            @media #{$xs}{
             grid-gap: 10px;
             flex-wrap: wrap;
             margin-bottom: 15px;
            }   
        }
        &-title{
            @media #{$lg,$md}{
               margin-bottom: 10px;
            }   
            @media #{$xs,$sm}{
               margin-bottom: 5px;
               font-size: 20px;
            }   
        }
        & p{
            & br{
                @media #{$lg}{
                    display: none;
                }   
            }
        }
    }
    &-author{
        background: linear-gradient(239.18deg, rgba(255, 255, 255, 0.26) 17.93%, rgba(255, 255, 255, 0.065) 81.51%);
        border: 1px solid rgba(255, 255, 255, 0.08);
        box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(20px);
        border-radius: 20px;
        display: flex;
        align-items: center;
        grid-gap: 40px;
        max-width: 442px;
        padding: 15px;
        @media #{$xs,$sm}{
            grid-gap: 10px;
            padding: 10px;
        }  
        &-thumb{
            flex: 0 0 auto;
            @media #{$xs,$sm}{
                flex: inherit;
            }  
        }
        &-subtitle{
            font-size: 16px;
            color: var(--tp-white-color);
            letter-spacing: 0;  
            line-height: 1.3;
            & span{
                display: block;
                font-size: 14px;
                font-weight: 400;
                color: rgba(255, 255, 255 , 0.65);
                & a{
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        &-title {
            font-size: 18px;
            letter-spacing: 0;
            color: var(--tp-white-color);
        }
        &-link{
            & a{
                display: inline-block;
                background-color: var(--tp-theme-color);
                color: var(--tp-white-color);
                font-weight: 500;
                line-height: 1;
                border-radius: 30px;
                padding: 8px 20px;
                &:hover{
                    background-color: var(--tp-secoundery-color);
                    color: var(--tp-theme-color);
                }
            }
        }
    }
    &-right{
        @media #{$md}{
          padding-top: 40px;
        }
        @media #{$xs,$sm}{
          padding-top: 30px;
        }
    }
    &-cta{
        &-icon{
            border: 1px solid rgba(0, 0, 0, 0.1);
            width: 50px;
            height: 50px;
            border-radius: 50px;
            @include flex-center();
        }
        &-info{
            & span{
                font-size: 14px;
            }
        }
        &-title {
            font-size: 16px;
            & a{
                &:hover{
                    color: var(--tp-orange-color);
                }
            }
        }
        &-item {
            grid-gap: 15px;
            @media #{$xs,$sm}{
               grid-gap: 10px;
               margin-bottom: 15px;
            } 
        }
    }
    &-slider{
        &-main{
            min-height: 635px;
            align-items: end;
            @media #{$md}{
                min-height: 500px;
            } 
            @media #{$xs,$sm}{
                min-height: 350px;
            } 
        }
        &-info{
            opacity: 0;
            transform: translateY(40px);
            transition: opacity 0.6s ease, transform 1s ease;
            will-change: transform, opacity; 
            & p {
                font-size: 14px;
                color: var(--tp-secoundery-color);
                font-weight: 600;
                letter-spacing: -0.02em;
            }
            &-wrap{
                @media #{$xs,$sm}{
                  padding-left: 20px;
                  padding-bottom: 30px;
                } 
            }
        }
        &-mail{
            display: flex;
            align-items: center;
            grid-gap: 75px;
            padding: 14px;
            padding-right: 42px;
            padding-left: 20px;
            width: fit-content; 
            border-top: 2px solid rgba(255, 255, 255, 0.2);;
            border-bottom: 2px solid rgba(255, 255, 255, 0.2);
            opacity: 0;
            transform: translateY(40px);
            transition: opacity 0.6s ease, transform 1s ease;
            will-change: transform, opacity;
            & a {
                font-size: 14px;
                color: var(--tp-white-color);
                font-weight: 700;
                text-transform: uppercase;
                line-height: 1;
                position: relative;
                &:not(:last-child){
                    &::after{
                    position: absolute;
                    content: "";
                    background-color: rgba(255, 255, 255, 0.3);
                    width: 1px;
                    height: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -19px;
                    }
                }   
            }
        }
        &-title{
            @media #{$xs,$sm}{
               font-size: 25px;
            } 
        }
        &-active{
            border-radius: 20px;
            overflow: hidden;
            & .swiper-slide-active{
                .tp-contect-slider-info {
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: .3s;
                }
                .tp-contect-slider-mail {
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: 0.5s;
                }
            }
        }
    }
    &-button{
        & button{
            border-color: transparent;
            background-color: var(--tp-white-color);
            width: 60px;
            height: 60px;
        }
        &-wrap {
            display: flex;
            align-items: center;
            grid-gap: 10px;
            position: absolute;
            bottom: 60px;
            left: 60px;
            z-index: 1;
        }
    }
    &-map{
        @media #{$md,$sm,$xs}{
            padding-top: 20px;
        } 
        & iframe {
            max-height: 419px;
            border-radius: 20px;
            mix-blend-mode: luminosity;
            width: 100%;
        }
        &-main{
            padding-top: 120px;
            @media #{$lg,$md}{
                padding-top: 90px;
            } 
            @media #{$xs,$sm}{
                padding-top: 50px;
            } 
        }
        &-wrap{
            @media #{$lg,$md,$sm,$xs}{
                margin-right: 0;
            }
        }
    }
    &-tabs{
        &-main{
            @media #{$xs,$sm}{
                margin-bottom: 15px;
            } 
        }
    }
    &-top{
        @media #{$xs,$sm}{
            margin-bottom: 10px;
        } 
    }
}


